{% extends 'base.html' %}
{% block content %}

<div class="card-sm-12 my-4 mx-4 p-3 pt-2 bg-primary">
    <div class="row-sm-12">
        <div class="col">
            <div class="card mt-4">
                <div class="card-body mt-2">
                    <form method="post", action="{% url 'update_bus_details' %}">
                        {% csrf_token %}

                        <div class="col-12">
                            <h5 class="form-title"><span>Add Bus Details</span></h5>
                        </div>
                        
                        {% include 'includes/messages.html' %}

        

                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                                <label>Bus Code</label>
                                <input type="text" class="form-control" name="bus_code" value="{{bus.bus_code}}" >
                                <input type="text" class="form-control" name="bus_id" value="{{bus.id}}" hidden>

                            </div>

                        </div>


                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                                <label>Bus Fair</label>
                                <input type="text" class="form-control" name="bus_fair" value="{{bus.bus_fair}}">
                            </div>
                        </div>


                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                                <label>Bus Type</label>
                                <select name="bus_type" class="form-control" value="{{bus.bus_type}}">
                                    <option>Select</option>
                                    <option>AC Bus</option>
                                    <option>Non-Ac Bus</option>
                                </select>                           
                             </div>
                        </div>


                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                                <label>Bus Route</label>
                                <textarea name="bus_route" id="bus_route" cols="30" rows="10" value="{{bus.bus_route}}"></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Edit Course</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}