{% extends 'base.html' %}
{% block content %}

<div class="card-sm-12 my-4 mx-4 p-3 pt-2 bg-primary">
    <div class="row-sm-12">
        <div class="col">
            <div class="card mt-4">
                <div class="card-body mt-2">
                    <form method="post", action="{% url 'update_semester' %}">
                        {% csrf_token %}

                        <div class="col-12">
                            <h5 class="form-title"><span>Edit Semester</span></h5>
                        </div>
                        
                        {% include 'includes/messages.html' %}

        

                        <div class="col-12 col-sm-11">
                            <div class="form-group">
                                <label>Enter Semester And Year</label>
                                <input type="text" class="form-control" name="semester_name" placeholder="eg. 1st semester 1st year" value="{% for x in semester %}{{x.semester}}{% endfor %}" required>
                                <input type="text" class="form-control" name="semester_id" value="{% for x in semester %}{{x.id}}{% endfor %}" hidden>

                            </div>

                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update Semester</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}